.body-descarga-3,
.body-descarga-3 * {
  box-sizing: border-box;
}
.body-descarga-3 {
  background: #ffeecf;
  width: 1415px;
  height: 1193px;
  position: relative;
}
.footer {
  background: #ffeecf;
  width: 1415px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 1153px;
}
.contacto-email-iwehjfoiwehfoi-telefono-7649747648 {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 87px;
  top: 3px;
  width: 582px;
  height: 16px;
}
.agrega-la-ubicaci-n-de-tu-audiencia-en-el-post-3 {
  width: 78px;
  height: 66px;
  position: absolute;
  left: 651px;
  top: -26px;
}
.boton-14 {
  width: 93px;
  height: 27px;
  position: static;
}
.rectangle-3 {
  background: #f5f5f5;
  border-radius: 40px;
  width: 93px;
  height: 27px;
  position: absolute;
  left: 1170px;
  top: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrow-1 {
  position: absolute;
  left: 1194px;
  top: 26px;
  transform: translate(-3.68px, -11.5px);
  overflow: visible;
}
.inicio {
  color: #000000;
  text-align: center;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 1194px;
  top: 7px;
  width: 57.69px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ejemplos {
  background: #f8eee5;
  width: 1387px;
  height: 611px;
  position: absolute;
  left: 14px;
  top: 516px;
}
.descargar-ejemplo-3 {
  color: #000000;
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: -52px;
  top: 285px;
  width: 448px;
  height: 20px;
}
.ejemplo-1 {
  background: #ffffff;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1182px;
  top: 50px;
}
.p-gina-de-mascotas {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 25px;
  top: 39px;
  width: 124px;
  height: 20px;
}
.boton-11 {
  width: 117px;
  height: 32.15px;
  position: static;
}
.rectangle-32 {
  background: #f5f5f5;
  border-radius: 40px;
  width: 117px;
  height: 31.79px;
  position: absolute;
  left: 26px;
  top: 85.18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ver-ejemplo {
  color: #000000;
  text-align: center;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 56.29px;
  top: 85px;
  width: 72.58px;
  height: 31.79px;
  transform-origin: 0 0;
  transform: rotate(0.329deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-2 {
  position: absolute;
  left: 39px;
  top: 101px;
  overflow: visible;
}
.ejemplo-2 {
  background: #ffffff;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1182px;
  top: 337px;
}
.p-gina-de-flores {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 39px;
  top: 35px;
  width: 92px;
  height: 20px;
}
.boton-12 {
  width: 117px;
  height: 32.15px;
  position: static;
}
.arrow-22 {
  position: absolute;
  left: 39px;
  top: 101px;
  overflow: visible;
}
.ej-2-1 {
  width: 800px;
  height: 569.05px;
  position: absolute;
  left: 294px;
  top: 20px;
}
.p-gina-de-productos-inform-ticos {
  color: #000000;
  text-align: center;
  font: 400 36px "Inter", sans-serif;
  position: absolute;
  left: 484px;
  top: 386px;
  width: 448px;
  height: 20px;
}
.agrega-la-ubicaci-n-de-tu-audiencia-en-el-post-2 {
  width: 1387px;
  height: 222px;
  position: absolute;
  left: 14px;
  top: 122px;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 782px;
  top: 122px;
  width: 583px;
  height: 211px;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span2 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span3 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span4 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span5 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span6 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span7 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.por-qu-elegir-eccomerce-variedad-de-plantillas-ofrecemos-una-amplia-variedad-de-plantillas-cuidadosamente-dise-adas-para-satisfacer-tus-necesidades-desde-sitios-web-corporativos-hasta-tiendas-en-l-nea-y-blogs-creativos-personalizaci-n-f-cil-nuestro-intuitivo-editor-te-permite-personalizar-y-modificar-elementos-como-colores-tipograf-a-im-genes-y-m-s-no-se-requieren-conocimientos-t-cnicos-responsive-y-moderno-todas-nuestras-plantillas-son-responsivas-lo-que-significa-que-tu-sitio-se-ver-incre-ble-en-cualquier-dispositivo-desde-computadoras-de-escritorio-hasta-tel-fonos-m-viles-soporte-amigable-estamos-aqu-para-ayudarte-en-cada-paso-del-proceso-si-tienes-alguna-pregunta-o-necesitas-asistencia-nuestro-equipo-de-soporte-amigable-est-a-tu-disposici-n-span8 {
  color: #000000;
  font: 400 12px "Inter", sans-serif;
}
.navbar {
  background: #ffeecf;
  width: 1415px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navigate {
  width: 93px;
  height: 34px;
  position: absolute;
  left: 1293px;
  top: 5px;
}
.navigate2 {
  width: 93px;
  height: 34px;
  position: absolute;
  left: 1156px;
  top: 5px;
}
.navigate3 {
  width: 127px;
  height: 34px;
  position: absolute;
  left: 986px;
  top: 5px;
}
.agrega-la-ubicaci-n-de-tu-audiencia-en-el-post-32 {
  width: 123px;
  height: 109px;
  position: absolute;
  left: 0px;
  top: 0px;
}
